:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
  --light-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --dark-background-color: #2f303a;

  --icons-color: #afb1b8;

  --portfolio-list-gap: 30px;

  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

/* навигация по сайту*/

.page-header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.page-header__logo {
  color: #000000;
}
.nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list,
.contact-list {
  display: flex;
}
.nav-list {
  margin-left: 93px;
}
.contact-list {
  margin-left: auto;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--title-text-color);

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.nav-list__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;

  transition-property: opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.nav-list__current::after,
.nav-list__link:hover::after {
  opacity: 1;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__current {
  color: var(--accent-color);
}
.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Секция1 Герой*/
.hero {
  padding-top: 201px;
  padding-bottom: 201px;
  background-color: var(--hero-background-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img_hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  color: var(--primary-white-color);
}
.hero__container {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: none;
  outline: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* секция приемущества*/

.benefits {
  padding-top: 94px;
  padding-bottom: 47px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2px;
  padding-bottom: 5px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list__item {
  width: 270px;
}

.benefits-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.benefits-list__phon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  background-color: var(--light-background-color);
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}
/*               картинки с использованием before  
                            .benefits-item::before {
                              content: '';
                              display: block;
                              height: 120px;

                              background-position: center;
                              background-repeat: no-repeat;
                              background-color: var(--light-background-color);
                            }

                            .icon-antenna::before {
                              background-image: url(../images/antenna.png);
                            }
                            .icon-clock::before {
                              background-image: url(../images/clock.png);
                            }
                            .icon-diagram::before {
                              background-image: url(../images/diagram.png);
                            }
                            .icon-astronaut::before {
                              background-image: url(../images/astronaut.png);
                            }  */

/* Чем мы занимаемся*/

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}
.section-title__indent {
  margin-bottom: 50px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.work-list {
  display: flex;
}
.work-list__item {
  width: 370px;
  position: relative;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__overlay {
  padding: 27px 10px;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.work-list__description {
  margin: 0;
  text-align: center;
  color: var(--primary-white-color);
}

/* Наша команда */
.teem {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-background-color);
}
.teem__title {
  padding-bottom: 50px;
}
.teem-list {
  display: flex;
}

.teem-member {
  padding-top: 25px;
  padding-bottom: 16px;
  padding-right: 10px;
  padding-left: 10px;
}

.teem-list__item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teem-list__item:not(:last-child) {
  margin-right: 30px;
}

.teem-member__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  margin-bottom: 10px;
}

.teem-member__description--dark {
  color: var(--title-text-color);
}

.teem-member__description--font {
  font-weight: 400;
  margin-bottom: 0;
}

.actions {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.actions__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions__link {
  display: inline-flex;
  padding: 12px;
  border-radius: 50%;
  color: var(--icons-color);

  transition-property: color, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.actions__link:hover,
.actions__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.actions__icon:hover,
.actions__icon:focus {
  fill: currentColor;
}

.actions__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*Секция 5   Клиенты*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition-property: color, border;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.clients-list {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Footer*/
footer {
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: var(--dark-background-color);
}
.page-footer__logo {
  color: var(--primary-white-color);
}

.page-footer__link {
  display: block;
  margin-bottom: 20px;
}

.page-footer__text--white {
  color: var(--primary-white-color);
}
address {
  font-style: normal;
}

.page-footer__contacts {
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__list {
  display: flex;
}
.page-footer__item {
  margin-right: 70px;
}
.footer-subscription {
  margin-left: auto;
}

.page-footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer__title {
  margin-top: 13px;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.footer-actions {
  padding: 0;
}

.footer-actions__item:not(:last-child) {
  margin-right: 10px;
}

.actions__link--color {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscription__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-subscription__form {
  display: flex;
}

.footer-subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/* портфолио*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-header {
  border-bottom: 1px solid #eeeeee;
}

.portfolio-filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter__button {
  display: flex;
  padding: 6px 22px;

  height: 38px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  cursor: pointer;
  outline: transparent;

  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--light-background-color);

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-card__photo {
  position: relative;
  overflow: hidden;
}

.product-card__overlay {
  padding: 63px 24px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);

  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.product-card__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.product-card__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.product-card__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.product-card__thumb {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.product-card {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.product-card:hover .product-card__overlay,
.product-card:focus .product-card__overlay {
  transform: translateY(-100%);
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--portfolio-list-gap));
  margin-left: calc(-1 * var(--portfolio-list-gap));
}

.portfolio-list__item {
  outline: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - var(--portfolio-list-gap));

  margin-top: var(--portfolio-list-gap);
  margin-left: var(--portfolio-list-gap);
}

/* Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 8px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  background-color: var(--primary-white-color);
  fill: #000000;

  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.close__icon {
  width: 11px;
  height: 11px;
}

.close:hover,
.close:focus {
  fill: var(--accent-color);
}

.user-contacts {
  padding-top: 2px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.user-contacts__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
}

.comment {
  margin-bottom: 20px;
}

.form-field__input {
  width: 100%;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input,
.comment__input {
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.form-field,
.form-field__item {
  position: relative;
}

.modal-icon {
  position: absolute;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.modal-icon__input {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form-field input:focus,
.comment__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field input:focus + .modal-icon {
  color: var(--accent-color);
}

.user-contacts .button {
  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.user-contacts .button:hover,
.user-contacts .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.comment__input {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check__contract {
  color: var(--accent-color);
}

.check__link {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  color: var(--accent-color);
}

.check__input input[type='checkbox'] {
  width: 40px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 30px;
}

.check__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition-property: background-color, border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}

.check__input:checked ~ .check__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
